{% extends 'base.html' %}

{% block content %}
<h1>On-going and On-hold Stories</h1>
<div class="list-group">
    <a href="https://www.wattpad.com/story/263794544-s%C5%8Dl-et-luna" class="list-group-item list-group-item-action"><img src="https://img.wattpad.com/cover/263794544-144-k230156.jpg" class="img-thumbnail" alt="Sol et Luna Book Cover" width="64" height="100"> Sol et Luna</a>
    <a href="https://www.wattpad.com/story/136772569-occultatum-libera" class="list-group-item list-group-item-action"><img src="https://img.wattpad.com/cover/136772569-416-k976304.jpg" class="img-thumbnail" alt="Occultatum Libera Book Cover" width="64" height="100"> Occultatum Libera</a>
    <a href="https://www.wattpad.com/story/67178855-almost-married-to-dr-gook-tale-of-the-mad-god" class="list-group-item list-group-item-action"><img src="https://img.wattpad.com/cover/67178855-416-k467471.jpg" class="img-thumbnail" alt="Almost Married to Dr. Gook Book Cover" width="64" height="100"> Almost Married to Dr. Gook</a>
    <a href="https://www.wattpad.com/story/170832457-rewrite-the-stars" class="list-group-item list-group-item-action"><img src="https://img.wattpad.com/cover/170832457-144-k434699.jpg" class="img-thumbnail" alt="Rewrite The Stars Book Cover" width="64" height="100"> Rewrite The Stars</a>
</div>
{% endblock %}