{% extends 'base.html' %}

{% block content %}
<h1>Add a New Story to Your Library!</h1>
<form action="{{ url_for('processing') }}" method="post">
    <label for="s_type">Type of Story:</label>
    <select name="story_type" id="s_type" required>
        <option disabled selected value>...</option>
        <option value="Standalones">Standalone Stories</option>
        <option value="Farrell Boys Series">Farrell Boys Series</option>
        <option value="SMU Girls Series">SMU Girls Series</option>
        <option value="Lost Stars Series">Lost Stars Series</option>
        <option value="One-Shots">One-Shot Stories</option>
        <option value="Other Eros Stories">Other Eros Stories</option>
        <option value="Stories From Other Authors">From Other Authors</option>
    </select><br><br>
    <label for="s_title">Story Title:</label>
    <input type="text" name="story_title" id="s_title" required><br><br>
    <label for="s_genre">Genre:</label>
    <input type="text" name="story_genre" id="s_genre"><br><br>
    <label for="s_status">Status:</label>
    <input type="text" name="story_status" id="s_status"><br><br>
    <label for="s_url">Story Cover URL:</label>
    <input type="url" name="story_url" id="s_url"><br>
    <textarea name="story_desc" placeholder="What is this story about? Tell us!" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Add to Library" class="btn btn-outline-success">
</form>
{% endblock %}